#top {
    position: relative;
    background-color: orange;
    background-image: url("#{request.contextPath}/resources/images/gr.othl.little.png");
    background-repeat: no-repeat;
    color: white;
    height: 90px;
    padding: 5px 5px 15px 180px;
    margin: 0px 0px 10px 0px;

}

#top form {
    padding-top: 85px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

#content {
    padding: 0.5em;
}


#top a:link, #top a:visited {
    color: white;
    font-weight : bolder;
    text-decoration: none;
    font-style: italic;
}

#top a:link:hover, #top a:visited:hover  {
    color: #d40511;
    font-weight : bolder;
    font-style: italic;
}

